Django
boto3
django-cors-headers           
django-dotenv                 
django-filter                 
django-storages               
djangorestframework           
djangorestframework-simplejwt
psycopg2
